.profile {
  direction: ltr;
  margin-left: 8px;
  padding: 18px 12px;

  .avatar-container {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    .avatar {
      width: 65px;
      height: 50px;
      &.true {
        width: 65px;
        height: 65px;
        object-fit: cover;
      }
    }

    .delete {
      width: 103%;
      height: 102%;
      z-index: 0;
      opacity: 0;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
      font-size: 13px;
    }

    &:hover .delete {
      opacity: 1;
      z-index: 1;
    }

    .upload-avatar {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0;
    }
  }

  .user-name input {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px;
    width: 150px;
    margin: 0 10px;
    text-overflow: ellipsis;

    &:focus {
      border-color: var(--secondary);
    }
  }
}
